---
import Dashboard from "../../layouts/Dashboard.astro";
import Boton from "../../components/Boton.astro";
import CreateIcon from "../../../public/icons/create.astro";
import ProjectsList from "../../components/ProjectList";
import FormNewProject from "components/FormNewProject";
import { getUserByEmail } from "services/user.service";
import FormJoinProject from "components/FormJoinProyect";

const token = Astro.cookies.get("token")?.value;
const email = Astro.cookies.get("email")?.value;

if (!token) {
  return Astro.redirect("/");
}

const authorization = true;

const user = await getUserByEmail(email, token);

//TODO: realizar consulta para traer proyecto y cambiar la consulta en la bd para traer solo los proyectos del usuario
---

<Dashboard authorization={authorization} title="Dashboard RIDI -> Bienvenido">
  <div
    class="dark:bg-gray-800 flex items-center justify-between bg-white rounded-lg"
  >
    <p class="text-3xl text-blue-500 font-bold dark:text-purple-500">
      Proyectos
    </p>
    <div class="flex gap-4 items-center p-2 bg-blue-200 rounded">
      <FormNewProject client:idle user_id={user.user_id} token={token} />
      <FormJoinProject client:idle user_id={user.user_id} token={token} />
    </div>
  </div>

  <ProjectsList client:idle user_id={user.user_id} token={token} />
</Dashboard>
